<footer>
	<nav class="nav-footer">
		<ul>
			<a href="">
				<li>Mentions Légales</li>
			</a>
			<a href="">
				<li>Contacts</li>
			</a>
			<a href="">
				<li>F.A.Q</li>
			</a>
		</ul>
	</nav>
</footer>
<script src="{{asset('assets/js/structure.js')}}"></script>
