{% extends 'base.html.twig' %}

{% block title %}Paralipomènes
{% endblock %}

{% block body %}

	<div class="text-presentation eagle texte-rouge">
		<p>
			Bienvenue sur Paralipomènes, ce site a été crée dans le but de rassembler des histoires, mais pas n’importe quel
						type d’histoire. 
						<br><br>
						Les histoires rassemblées ici, sont des histoires de carrières professionnelles. Des personnes
						comme vous sont venus avant vous ici pour écrire leur histoire. Vous pouvez les lire pour le plaisir, pour vous
				        en inspirer ou pour tout autre raison qui vous appartient. Puis si le cœur vous en dit vous pouvez partager
			            votre histoire.
		</p>
		<br>
		<p>
			Les histoires partagées ici sont entièrement anonymes, aucune entreprise ou organisation ne peut être cité ou
			            ciblé. Évidement les textes doivent respectés les lois ainsi que le respect dû à tout un chacun (donc aucun
				        propos racistes, sexistes, homophobes, etc.).
			<br>
			Les opinions exprimés sont exclusivement celles des auteurs et ne saurait refléter l’opinion des créateurs ou des modérateurs du site.
		</p>
	</div>

	<div class="div-histoires-accueil">

		{% for hist in derniereHistoire %}

			<div class="carte-accueil texte-rouge fond-beige">
				<h4 class="lavish">{{hist.titre}}</h4>
				<div class="eagle" >
				{% for ch in hist.chapitres %}
						<br>
						{{ch.contenu|raw}}
				{% endfor %}
				</div>
			</div>

		{% endfor %}

	</div>


{% endblock %}
