{% extends 'base.html.twig' %}

{% block title %}
	Paralipomènes -
	{{histoire.titre}}
{% endblock %}

{% block body %}

	<div class="div-histoire texte-rouge fond-beige">

		<h4 class="titre-histoire lavish">{{histoire.titre}}</h4>

		<div class="eagle ">
			{% for ch in chapitres %}
				<br>
				{{ch.contenu|raw}}
			{% endfor %}
		</div>

	</div>

{% endblock %}
