{% extends 'base.html.twig' %}

{% block title %}Paralipomènes - Décision correction{% endblock %}

{% block body %}

<div class="div-decision texte-rouge fond-beige">

	{% if correction == [] %}
    <button id="btn-correction" class="fond-rouge">
    	<a class="texte-beige lavish eagle" href= "{{path('app_debut_correction', {id:histoire.id})}}">Commencer à corriger</a>
    </button>

	{% else %}

	 <button id="btn-correction" class="fond-rouge">
    	<a class="texte-beige lavish eagle" href= "{{path('app_page_correction', {id:histoire.id})}}">Continuer à corriger</a>
    </button>
	
	{% endif %}

	<h4 class="titre-histoire lavish">{{histoire.titre}}</h4>

	<div class="eagle">
		{% for ch in chapitres %}
			<br>
			{{ch.contenu|raw}}
		{% endfor %}
	</div>

</div>

{% endblock %}
