@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

*{
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}


.handlee {
  font-family: "Handlee", cursive;
}


.lavish {
  font-family: "Lavishly Yours", cursive;
}

.eagle {
  font-family: "Eagle Lake", serif;
}
