{% extends 'base.html.twig' %}

{% block title %}Paralipomènes - redaction{% endblock %}

{% set hasQuill = true %}

{% block body %}
 <div class="form-redac">
  {{ form_start(form) }}

  {{ form_widget(form.contenu, {
        attr: { class: 'cacher' }
    }) }}

  <div id="editor"></div>

  <button type="submit" class="btn btn-primary eagle fond-rouge texte-beige">Enregistrer</button>

  {{ form_end(form) }}
 </div>

{% endblock %}

