{% extends 'base.html.twig' %}

{% block title %}Paralipomènes - redaction{% endblock %}

{% block body %}
<div class="form-redac" >
{{ form_start(form) }}

 {{ form_widget(form.contenu) }}
    <div id="editor">
        {{ form.contenu.vars.value|raw }}
    </div>
    <button type="submit" class="btn btn-primary eagle fond-rouge texte-beige">Enregistrer</button>

{{ form_end(form) }}
</div>
{% endblock %}
